/* ProfilePage.css */

.container {
    text-align: left; /* Align content to the left */
    padding: 0px;
  }
  
  .card-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start; /* Align cards to the far left */
  }
  
  .routes-title {
    text-align: center; /* Center the "Your Routes" heading */
  }
  
  .card {
    margin: 10px;
  }
  