.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
  }

  
  .card {
    width: auto;
    margin: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    background-color: rgba(255, 255, 255, 0.7);
  
    &:hover {
      transform: scale(1.05);
    }
  }
  
  .card img {
    width: auto;
    height: auto;
    border-radius: 10px;
  }
  
  @media (max-width: 600px) {
    .container {
      justify-content: center;
    }
  }
  
  .postButton {
display: block;
margin: 0 auto;
  }

  